<?xml version="1.0"?>

<launch>
    
    <arg name="model" value = "$(find two_dof_arm)/urdf/main.xacro"/>
    
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
    
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
        <param name="use_gui" value="TRUE"/> 
    </node>
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
    
    <node name="rviz" pkg="rviz" type="rviz" args = "-d $(find two_dof_arm)/config/config.rviz"/>
    <!-- <node name="rviz" pkg="rviz" type="rviz" /> -->

</launch>